:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --white: #ffffff;
}
body {
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  color: #434455;
}
.list {
  list-style: none;
}

/* Header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* text-decoration: none; */
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
}
.link {
  text-decoration: none;
}

.logo .logo-studio {
  color: var(--navy-blue);
}
.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-menu {
  color: #2e2f42;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--ocean);
}
.site-nav .link.current {
  color: var(--ocean);
}
.address {
  font-style: normal;
}

.addr-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.addr-link:hover,
.addr-link:focus {
  color: var(--ocean);
}

/* Hero */

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
/* Buttons */
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button.btn-primary {
  color: var(--white);
  background-color: var(--iris);
}
.button.btn-secondary {
  color: var(--iris);
  background-color: var(--cloud);
}

.button.btn-primary:hover,
.button.btn-primary:focus {
  background-color: var(--ocean);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* Section*/
.section.our-team {
  background-color: var(--cloud);
}
.section-title {
  color: var(--navy-blue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-foto {
  background-color: var(--white);
}

.text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list .title,
.team-list .title,
.filter-list .title
 {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-list .name {
  text-align: center;
}
.team-list .position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.filter-list .type {
  color: var(--slate);
}
.type {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--navy-blue);
}
.footer .logo-studio {
  color: var(--cloud);
}
.footer .slogan {
  color: var(--cloud);
}

.navmenu-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.navmenu-portfolio:hover,
.navmenu-portfolio:focus {
  color: var(--ocean);
}
.address-portfolio {
  font-style: normal;
}
.addr-link-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.addr-link-portfolio:hover,
.addr-link-portfolio:focus {
  color: var(--ocean);
}
